<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modelo</title>
</head>

<body>


    <section class="container">
        
        <form action="/" method="post">
            <label>Cliente </label>
            <input type="text" name="cliente"><br>
            <button type="submit">Enviar</button>
        </form>

    </section>

    <script src="/assets/js/bundle.js"></script>
</body>

</html>